build/
coverage/
npm-debug.log
box-node-express-skeleton-app/app/config/local.js
box-node-express-skeleton-app/app/config/production.js
box-node-express-skeleton-app/app/*_config.json
config.json
package-lock.json

node_modules/
.DS_Store
.idea/
*.iml
*.pem
*.zip

*.class



#intellij
.idea/
target/
*.iml

# Package Files #
*.jar
*.war
*.ear


.vscode
config.js
private_key.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# dotenv environment variables file
.env

*.DS_Store
.AppleDouble
.LSOverride

